<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Potties

    <a data-toggle="collapse" href="#dog_potties_new_form">
      Add potty
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @dog.potties.each do |potty| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to potty, potty %>

        <%= link_to potty, method: :delete, data: { confirm: "Do you really want to delete this potty" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="dog_potties_new_form">
        <%= render partial: "dogs/dog_potties_new_form" %>
      </div>
    </div>

  </ul>
</div>
