<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ownerships

    <a data-toggle="collapse" href="#dog_ownerships_new_form">
      Add ownership
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @dog.ownerships.each do |ownership| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to ownership, ownership %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <% if current_user == ownership.user %>
          <%= link_to ownership, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="dog_ownerships_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "dogs/dog_ownerships_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
